.todo {
  &-container {
    display: grid;
    grid-template-columns: 0.7rem 3fr repeat(3, 1fr);
    grid-template-rows: 4.3rem;
    grid-column-gap: 0.1rem;

    &::before {
      content: "";
      width: 0.7rem;
      height: 4.3rem;
      background-color: var(--color-sheen);
    }

    & > section:not(:first-of-type) {
      font-weight: 100;
      height: 100%;
      text-align: center;
      // color: var(--color-white);
      padding-top: 1.45rem;
    }

    & > section {
      align-self: center;
      padding: 1.3rem;
    }

    & > section:not(:first-of-type) > div {
      display: flex;
      justify-content: center;
      font-size: 1.35rem;
      font-weight: 400;

      & > span {
        margin-right: 0.7rem;
      }
    }

    & > section > div > .icon-edit {
      width: 0;
    }

    & > section:hover {
      & > div > .icon-edit {
        width: 1.3rem;
        transform: translateY(-0.08rem);
      }

      & > div > .icon-trash {
        width: 1.3rem;
      }
    }
  }

  &__name {
    background-color: var(--color-grey-light);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &-layout {
      display: grid;
      align-items: center;
      grid-template-columns: 9fr 1fr 1fr;
      grid-template-rows: 1.65rem;

      & > span {
        grid-row: 1 / 2;
        // height: 1.4rem;
        // display: inline-block;
        // width: 3rem;
        margin-right: 0.9rem;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          cursor: pointer;
          overflow: visible;
          white-space: normal;

          & > span {
            width: auto;
            z-index: 3;
            color: var(--color-white);
            position: relative;
            background-color: var(--color-sheen);
            padding: 0.4rem 0.8rem;
            /* compensate padding and border size to avoid jerking */
            margin-left: -0.4rem;
            display: inline-block;
          }
        }

        & > svg {
          grid-row: 1 / 2;
        }
      }
    }
  }

  &__status {
    display: flex;
    justify-content: center;
  }

  &__priority {
    display: flex;
    justify-content: center;
  }

  &__timeline {
    background-color: var(--color-sheen);

    &-date {
      color: var(--color-white);
      font-size: 1.35rem;
      font-weight: 600;
    }
  }
}

.create-container {
  display: flex;
  align-items: center;
}

.create-todo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 4rem;
  background: linear-gradient(
    to bottom right,
    rgba(10, 10, 10, 0.06),
    rgba(10, 10, 10, 0)
  );

  &__input {
    border: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0);
    padding: 0.1rem 1rem 0.1rem 1.3rem;
    font-size: 1.3rem;
    font-style: italic;
  }

  &__btn {
    margin-left: 1.2rem;
    fill: var(--color-grey-light);

    &:hover {
      fill: var(--color-metal);
    }
  }
}

.create-spinning {
  margin: 1.7rem 3rem 1.7rem 3rem;
}

.delete-spinning {
  & > div > div {
    display: flex;
  }

  & > div > div > div {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
  }
}

.todo-select {
  display: block;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  transform: translateY(-0.2rem);
  border: 1px dotted #000;
  width: minmax(6rem, 10rem);
  height: 2rem;
  text-align: center;
  font-size: 1.3rem;

  &::after {
    content: "\f0d7";
    color: var(--color-metal);
  }
  // -webkit-padding-end: 1rem;
  // -moz-padding-end: 1rem;
  // -webkit-padding-start: 1.2rem;
  // -moz-padding-start: 1.2rem;
}

.edit-todo {
  border: 0;
  background-color: inherit;
  font-size: 1.5rem;
}
