@import url("https://fonts.googleapis.com/css?family=Arimo");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
:root {
  --color-white: #ffffff;
  --color-black: #171c26;
  --color-green: #11d96f;
  --color-green-dark: #3cc474;
  --color-grey: #6b727d;
  --color-grey-mutant: #a3aab4;
  --color-grey-light: #f8f7f7;
  --color-grey-light-2: #eeecec;
  --color-metal: #2e333c;
  --color-red: #ff1654;
  --color-blue: #247ba0;
  --color-blue-dark: #1b68a0;
  --color-sheen: #70c1b3;
  --color-sheen-light: #70f1d3;
  --color-foam: #b2dbbf;
  --color-yellow: #f3ffbd;
  --color-pink: #fca5bd;
  --color-orange: #e2742b;
  --width-time: 8rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%; }

#root {
  height: 100%; }

body {
  height: 100%; }

input:focus {
  outline: none; }

.yellow {
  background-color: var(--color-yellow);
  color: var(--color-black); }

.red {
  background-color: var(--color-red);
  color: var(--color-white); }

.blue {
  background-color: var(--color-blue);
  color: var(--color-white); }

.foam {
  background-color: var(--color-foam);
  color: var(--color-black); }

.grey {
  background-color: var(--color-grey);
  color: var(--color-white); }

.sheen {
  background-color: var(--color-sheen);
  color: var(--color-white); }

.layout {
  height: 100%; }

.todolist-container {
  display: grid;
  font-size: 1.6rem;
  color: var(--color-metal);
  grid-row-gap: 0.1rem; }

.todolist-title {
  display: grid;
  font-weight: 600;
  min-height: 3rem;
  padding: 1rem;
  grid-template-columns: 3fr repeat(3, 1fr); }
  .todolist-title div:not(:first-child) {
    justify-self: center; }

.todo-container {
  display: grid;
  grid-template-columns: 0.7rem 3fr repeat(3, 1fr);
  grid-template-rows: 4.3rem;
  grid-column-gap: 0.1rem; }
  .todo-container::before {
    content: "";
    width: 0.7rem;
    height: 4.3rem;
    background-color: var(--color-sheen); }
  .todo-container > section:not(:first-of-type) {
    font-weight: 100;
    height: 100%;
    text-align: center;
    padding-top: 1.45rem; }
  .todo-container > section {
    align-self: center;
    padding: 1.3rem; }
  .todo-container > section:not(:first-of-type) > div {
    display: flex;
    justify-content: center;
    font-size: 1.35rem;
    font-weight: 400; }
    .todo-container > section:not(:first-of-type) > div > span {
      margin-right: 0.7rem; }
  .todo-container > section > div > .icon-edit {
    width: 0; }
  .todo-container > section:hover > div > .icon-edit {
    width: 1.3rem;
    transform: translateY(-0.08rem); }
  .todo-container > section:hover > div > .icon-trash {
    width: 1.3rem; }

.todo__name {
  background-color: var(--color-grey-light);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
  .todo__name-layout {
    display: grid;
    align-items: center;
    grid-template-columns: 9fr 1fr 1fr;
    grid-template-rows: 1.65rem; }
    .todo__name-layout > span {
      grid-row: 1 / 2;
      margin-right: 0.9rem;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .todo__name-layout > span:hover {
        cursor: pointer;
        overflow: visible;
        white-space: normal; }
        .todo__name-layout > span:hover > span {
          width: auto;
          z-index: 3;
          color: var(--color-white);
          position: relative;
          background-color: var(--color-sheen);
          padding: 0.4rem 0.8rem;
          /* compensate padding and border size to avoid jerking */
          margin-left: -0.4rem;
          display: inline-block; }
      .todo__name-layout > span > svg {
        grid-row: 1 / 2; }

.todo__status {
  display: flex;
  justify-content: center; }

.todo__priority {
  display: flex;
  justify-content: center; }

.todo__timeline {
  background-color: var(--color-sheen); }
  .todo__timeline-date {
    color: var(--color-white);
    font-size: 1.35rem;
    font-weight: 600; }

.create-container {
  display: flex;
  align-items: center; }

.create-todo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 4rem;
  background: linear-gradient(to bottom right, rgba(10, 10, 10, 0.06), rgba(10, 10, 10, 0)); }
  .create-todo__input {
    border: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0);
    padding: 0.1rem 1rem 0.1rem 1.3rem;
    font-size: 1.3rem;
    font-style: italic; }
  .create-todo__btn {
    margin-left: 1.2rem;
    fill: var(--color-grey-light); }
    .create-todo__btn:hover {
      fill: var(--color-metal); }

.create-spinning {
  margin: 1.7rem 3rem 1.7rem 3rem; }

.delete-spinning > div > div {
  display: flex; }

.delete-spinning > div > div > div {
  width: 20px;
  height: 20px;
  margin-left: 1rem; }

.todo-select {
  display: block;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  transform: translateY(-0.2rem);
  border: 1px dotted #000;
  width: minmax(6rem, 10rem);
  height: 2rem;
  text-align: center;
  font-size: 1.3rem; }
  .todo-select::after {
    content: "\f0d7";
    color: var(--color-metal); }

.edit-todo {
  border: 0;
  background-color: inherit;
  font-size: 1.5rem; }

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--color-metal); }
  .icon:hover {
    fill: var(--color-pink);
    cursor: pointer; }
  .icon-checkmark {
    margin-left: 0.4rem;
    width: 1.3rem;
    height: 1.4rem; }
    .icon-checkmark:hover {
      margin-left: 0.4rem;
      fill: var(--color-pink);
      cursor: pointer; }
  .icon-add {
    width: 2.6rem;
    height: 2.6rem;
    fill: var(--color-grey); }
    .icon-add:hover {
      fill: var(--color-metal);
      cursor: pointer; }
  .icon-trash {
    margin-left: 0.6rem;
    width: 0; }
  .icon-calendar {
    width: 0; }
  .icon-timeline {
    width: 1.8rem;
    height: 1.8rem; }

@keyframes lds-rolling {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.lds-rolling div,
.lds-rolling div:after {
  width: 30px;
  height: 30px;
  border: 3px solid #70c1b3;
  border-top-color: transparent;
  border-radius: 50%; }

.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite; }

.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.project-list {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 16rem; }
  .project-list__content {
    grid-column: 2 / end;
    display: grid;
    width: 100%;
    grid-template-rows: 6.2rem; }
    .project-list__content-projects {
      grid-row: 2 / -1;
      align-content: initial;
      grid-column: 2 / -1;
      width: 100%;
      margin-top: 0; }
    .project-list__content-timline-calendar {
      width: 88vw; }

.project {
  margin: 2rem 4rem 8rem 7rem; }
  .project__name {
    font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-left: 1rem; }
    .project__name-text {
      margin-right: 2rem;
      color: var(--color-metal); }
    .project__name-done {
      width: 2.5rem;
      height: 2.5rem;
      transform: translateY(-0.8rem); }
    .project__name-btn {
      transform: translateY(-0.8rem);
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.8rem; }
    .project__name-input {
      border: 0;
      border-bottom: 0.1994rem solid var(--color-grey);
      padding-bottom: 0.7rem;
      font-size: 2.7rem;
      font-weight: 600; }
  .project__description {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2.5rem;
    margin-left: 1rem; }
    .project__description-text {
      font-size: 1.3rem;
      margin-right: 1.2rem; }
    .project__description-btn {
      transform: translateY(-0.3rem);
      width: 0.9rem;
      height: 0.9rem; }
    .project__description-input {
      border: 0;
      font-size: 1.45rem;
      font-weight: 500;
      border-bottom: 0.16rem solid var(--color-grey);
      padding-bottom: 0.4rem;
      width: 90rem; }

.create-project {
  display: flex;
  width: 20rem;
  margin: 3rem 8rem;
  align-items: center; }
  .create-project__input {
    font-style: italic;
    border: 0;
    font-size: 3rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.13rem solid var(--color-grey); }

.header {
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  height: 4.9rem;
  box-shadow: 0.1rem 0.3rem 0.4rem rgba(73, 72, 72, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 2; }
  .header__name {
    font-family: "Ubuntu Condensed", sans-serif;
    text-decoration: none;
    color: var(--color-sheen);
    font-size: 3.7rem; }
  .header__log {
    border: 0;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-metal);
    cursor: pointer; }
    .header__log:hover {
      color: var(--color-pink); }
  .header__logo {
    height: 3.7rem;
    width: 3.5rem;
    margin-right: 0.7rem;
    transform: translateY(0.4rem); }

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / end;
  justify-self: stretch;
  align-self: stretch;
  width: 16rem;
  background-color: var(--color-grey-light-2);
  box-shadow: 0.1rem 0.3rem 0.47rem rgba(73, 72, 72, 0.3); }
  .sidebar__content {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    left: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center; }
    .sidebar__content::before {
      content: "";
      height: 2rem;
      width: 1rem; }
  .sidebar__title {
    font-size: 2rem;
    color: var(--color-metal);
    height: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 0.2rem;
    font-weight: 600; }
  .sidebar__search {
    text-align: center;
    font-style: italic;
    width: 12rem;
    border: 0;
    height: 2.8rem;
    background-color: var(--color-grey-light);
    margin-bottom: 3rem; }
  .sidebar__project-name {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 3rem; }

.timeline-calendar-container {
  margin-top: -0.5rem;
  margin-left: 0.15rem;
  height: 25rem;
  display: grid;
  color: var(--color-grey-light-2);
  overflow: scroll;
  grid-template-rows: 5%;
  background: linear-gradient(to bottom, #2591a1 55%, #f7fff7); }

.timeline-calendar-dates-container {
  position: sticky;
  height: 2.5rem;
  top: 0px;
  background-color: rgba(37, 145, 161, 0.5);
  padding-top: 1rem;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  font-weight: 600; }

.timeline-calendar-tasks-container {
  margin-top: 2rem; }

.timeline-calendar-date {
  width: 8rem;
  text-align: center;
  min-width: 0; }

.timeline-calendar-title {
  color: #fff; }

.timeline-calendar-task {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  height: 2rem;
  color: #fff; }
  .timeline-calendar-task__empty {
    color: rgba(0, 0, 0, 0); }
  .timeline-calendar-task__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-metal);
    height: 100%;
    padding: 0.5rem 0.5rem;
    background: linear-gradient(to top left, #42c7a6, #78dfd1);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    box-shadow: 0.01rem 0.01rem 0.6rem rgba(200, 200, 200, 0.2); }
    .timeline-calendar-task__name:hover {
      overflow: visible; }
      .timeline-calendar-task__name:hover span {
        position: relative;
        background-color: var(--color-foam);
        padding: 3px;
        /* compensate padding and border size to avoid jerking */
        margin-left: -0.4rem;
        display: inline; }

.chat-room {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3; }
  .chat-room__content {
    position: absolute;
    right: 0;
    width: 35vw;
    height: 100vh;
    background-color: var(--color-white);
    animation: slide-out 0.4s linear;
    animation-direction: alternate;
    text-align: center;
    padding: 2rem; }
    .chat-room__content__spinning {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .chat-room__content__title {
      font-weight: 600;
      font-size: 2.6rem;
      text-transform: uppercase;
      margin-right: 2.6rem;
      margin-left: 4rem; }
    .chat-room__content__chat {
      height: 72vh;
      padding: 3rem;
      margin: 1rem;
      background-color: var(--color-grey-light-2);
      border-radius: 0.4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      overflow: scroll; }
      .chat-room__content__chat__message {
        margin-top: 2rem;
        background-color: var(--color-foam);
        padding: 0.8rem;
        border-radius: 0.7rem;
        width: auto;
        height: auto;
        position: relative; }
        .chat-room__content__chat__message::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 80%;
          top: 90%;
          width: 0rem;
          height: 0rem;
          border: 1.5rem solid transparent;
          border-top-color: var(--color-foam);
          border-bottom: 0;
          border-right: 0;
          margin-left: -2rem;
          margin-top: -0.02rem; }
      .chat-room__content__chat__message:first-of-type {
        margin-top: auto; }
    .chat-room__content__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30.5vw;
      margin: 1rem; }
    .chat-room__content__input {
      border: 0.3rem solid var(--color-sheen);
      width: 30.5vw;
      height: 8rem;
      resize: none;
      padding: 1rem; }
    .chat-room__content__send {
      fill: var(--color-sheen);
      width: 4vw;
      height: 8rem;
      border: 0.3rem solid var(--color-sheen);
      border-left: none;
      padding: 1rem; }
  .chat-room__encouragement {
    text-align: left;
    position: absolute;
    line-height: 3rem;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-grey);
    font-size: 2.6rem; }

@keyframes slide-out {
  0% {
    width: 0vw; }
  80% {
    width: 32vw; }
  100% {
    width: 35vw; } }

.landing--container {
  font-family: "Arimo", sans-serif;
  display: grid;
  grid-template-rows: 80rem; }

.landing-header--container {
  background-color: var(--color-grey);
  background-image: -webkit-linear-gradient(26deg, var(--color-grey-light) 50%, var(--color-grey-light-2) 50%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%); }

.landing-header__header {
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 2rem 12rem;
  font-size: 3.2rem;
  color: var(--color-sheen);
  display: flex; }
  .landing-header__header__logo {
    height: 3.9rem;
    width: 3.7rem;
    margin-right: 0.7rem;
    transform: translateY(0.2rem); }

.landing-header__content {
  color: var(--color-metal);
  margin: 8rem 5rem;
  padding: 2rem 6rem;
  display: grid;
  grid-template-columns: minmax(40rem, 1fr) minmax(40rem, 1fr);
  grid-column-gap: 15rem; }
  .landing-header__content--slogan {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-gap: 2.8rem; }
    .landing-header__content--slogan__main {
      font-size: 4.8rem; }
    .landing-header__content--slogan__des {
      margin-top: -3rem;
      grid-row: 2 / 3;
      font-size: 1.8rem;
      line-height: 2.5rem; }
    .landing-header__content--slogan__btns {
      grid-row: 3 / 4;
      display: flex; }
      .landing-header__content--slogan__btns > a {
        display: block;
        color: inherit;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1.2rem;
        height: 4.2rem;
        margin-right: 3.5rem;
        border: 0;
        border-radius: 3px;
        width: 10rem;
        background: linear-gradient(to bottom right, var(--color-white), var(--color-white));
        box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2); }
        .landing-header__content--slogan__btns > a:hover {
          background: black;
          color: white;
          cursor: pointer; }
      .landing-header__content--slogan__btns > a:first-of-type {
        width: 13rem;
        color: white;
        background: linear-gradient(to bottom right, var(--color-green), var(--color-sheen)); }
        .landing-header__content--slogan__btns > a:first-of-type:hover {
          background: white;
          color: var(--color-sheen);
          cursor: pointer; }

.someone {
  font-style: italic;
  font-weight: 600; }

.landing-features {
  clip-path: polygon(0 8%, 100% 0, 100% 86%, 0 100%);
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 86%, 0 100%);
  position: relative;
  margin-top: -15rem;
  padding-top: 20rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top right, var(--color-green-dark) 10%, var(--color-sheen), var(--color-sheen-light)); }
  .landing-features > span {
    position: absolute; }
  .landing-features > span:first-of-type {
    top: 4.5rem;
    width: 30rem;
    height: 14.3rem;
    background: linear-gradient(to top right, var(--color-green-dark) 70%, var(--color-sheen));
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .landing-features > span:nth-of-type(2) {
    top: 2rem;
    left: 30rem;
    width: 40rem;
    height: 14rem;
    background: linear-gradient(to top right, var(--color-green-dark) 10%, var(--color-sheen-light));
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%); }
  .landing-features > span:nth-of-type(3) {
    top: 1rem;
    left: 70rem;
    width: 40rem;
    height: 25rem;
    background: linear-gradient(to top right, var(--color-green-dark) 20%, var(--color-sheen));
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%); }
  .landing-features > span:nth-of-type(5) {
    bottom: -3rem;
    left: 0;
    width: 40rem;
    height: 35rem;
    background: linear-gradient(to bottom left, var(--color-green-dark), var(--color-sheen-light));
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
  .landing-features > span:nth-of-type(6) {
    bottom: 1rem;
    right: 0rem;
    width: 40rem;
    height: 20rem;
    background: linear-gradient(to top right, var(--color-green-dark) 30%, var(--color-green));
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
  .landing-features__content {
    padding: 0 5rem 10rem 5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-top: -12rem;
    display: grid;
    grid-template-rows: repeat(3, minmax(18rem, 1fr));
    grid-template-columns: repeat(2, minmax(20rem, 1fr)); }
    .landing-features__content > div {
      grid-column: 1 / 2;
      justify-self: center;
      align-self: center;
      font-size: 2.3rem;
      width: 28rem;
      min-width: 20rem;
      background: linear-gradient(to bottom right, var(--color-white), var(--color-grey-light-2));
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-weight: 600; }
    .landing-features__content > img:nth-of-type(2) {
      width: 30rem;
      height: 14rem;
      border-radius: 0.5rem;
      transform: perspective(27rem) rotateY(8deg) translateX(2.4rem); }
    .landing-features__content > img {
      box-shadow: 1.2rem 1.2rem 1.2rem var(--color-grey);
      justify-self: center;
      grid-column: 2 / 3;
      width: 32rem;
      height: 12rem;
      border-radius: 0 0.5rem 0.5rem 0;
      transform: perspective(27rem) rotateY(-8deg); }
      .landing-features__content > img:hover {
        transition: all 0.4s ease-in-out;
        transform: perspective(20rem) rotateY(0deg);
        width: 55rem;
        box-shadow: 2rem 2rem 2rem var(--color-metal); }
    .landing-features__content > img:nth-of-type(3) {
      width: 24rem;
      height: 20rem;
      float: right;
      margin-top: 2rem; }
      .landing-features__content > img:nth-of-type(3):hover {
        transition: all 0.4s ease-in-out;
        transform: perspective(20rem) rotateY(0deg);
        box-shadow: 2rem 2rem 2rem var(--color-metal); }

.landing-design {
  margin-top: -20rem;
  padding: 25rem 10rem 10rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-40deg, var(--color-grey-light-2) 50%, var(--color-white) 50%); }
  .landing-design__logo {
    width: 40rem;
    height: 40rem;
    margin-right: 7rem; }
  .landing-design__thoughts {
    font-weight: 500;
    font-size: 2.4rem;
    color: metal; }

.login--container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  padding: 2rem 5rem 0 5rem;
  margin-top: -8rem;
  border-radius: 10px;
  height: 150%;
  background: linear-gradient(to bottom right, var(--color-green), var(--color-sheen)); }

.login__title {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  text-transform: capitalize;
  background: linear-gradient(to bottom right, var(--color-white), var(--color-grey-light));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700; }

.login-fields--container {
  display: grid; }

.login-fields--single-field {
  display: flex;
  flex-direction: column; }
  .login-fields--single-field > span {
    background: linear-gradient(to bottom right, var(--color-white), var(--color-grey-light));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .login-fields--single-field > input {
    border: 0;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.9rem;
    border-radius: 5px;
    background-color: white;
    background: linear-gradient(to bottom right, var(--color-grey-light-2), var(--color-white)); }
  .login-fields--single-field > input:last-of-type {
    margin-bottom: 2rem; }

.login-fields--btns {
  font-size: 2rem;
  margin-top: -1.9rem;
  color: white; }
  .login-fields--btns__confirm {
    margin-top: -3rem;
    border: 0;
    background: #ecbf42;
    border-radius: 3px;
    padding: 1.3rem 2rem;
    font-size: 1.6rem; }
    .login-fields--btns__confirm:hover {
      cursor: pointer;
      background: #f3d788; }
  .login-fields--btns__switch {
    margin-top: 0.1rem; }
    .login-fields--btns__switch:hover {
      cursor: pointer; }
